<div *ngIf="this.authService.data.user.role">
  <br /><br />
  <div>
    <label>Введите название офиса:</label>
    <input type="text" [(ngModel)]="officeSearch" (input)="filterOfficeName()" placeholder="Введите название офиса" />
    <ul *ngIf="officeSearch && filteredOffices.length > 0" class="dropdown">
      <li *ngFor="let office of filteredOffices" (click)="selectOffice(office)" class="dropdown-item" tabindex="0"
        (keydown.enter)="selectOffice(office)">
        {{ office.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedOffice">
    <label>Введите название помещения:</label>
    <input type="text" [(ngModel)]="roomSearch" (input)="filterRooms()" placeholder="Введите название помещения" />
    <ul *ngIf="roomSearch && filteredRooms.length > 0" class="dropdown">
      <li *ngFor="let room of filteredRooms" (click)="selectRoom(room)" class="dropdown-item" tabindex="0"
        (keydown.enter)="selectRoom(room)">
        {{ room.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedRoom">
    <label for="start">Выберите дату </label>
    <select id="start" name="trip-start" [(ngModel)]="workplaceBookingForm.date"
      (change)="updateAvailableDates(workplaceBookingForm.date)">
      <option *ngFor="let date of availableDates" [value]="date">{{ date | date: 'yyyy-MM-dd' }}</option>
    </select>
  </div>
</div>

<div [class.hide]="isreg == 0">
  <div class='admin-panel' [class.vis]="this.authService.data.user.role == 'ADMIN'" *ngIf="selectedRoom">
    <div *ngIf="this.authService.data.user.role === 'ADMIN'" class="button-group">
      <button class="primary-button" (click)="openAddWorkplaceForm()">Добавить рабочее место</button>
      <button class="primary-button" (click)="openAddMeetingRoomForm()">Добавить переговорную</button>
    </div>

    <div *ngIf="isAddWorkplaceFormOpen" class="modal">
      <div class="modal-content">
        <h2>Добавить рабочее место</h2>
        <form (ngSubmit)="saveWorkplace()">
          <label for="x">Координата X:</label>
          <input id="x" type="text" size="3" [(ngModel)]="newWorkplace.x" name="x" required /><br /><br />
          <label for="y">Координата Y:</label>
          <input id="y" type="text" size="3" [(ngModel)]="newWorkplace.y" name="y" required /><br /><br />

          <label for="height">Длина:</label><br />
          <input id="height" type="text" size="3" [(ngModel)]="newWorkplace.height" name="height"
            required /><br /><br />

          <label for="width">Ширина:</label><br />
          <input id="width" type="text" size="3" [(ngModel)]="newWorkplace.width" name="width" required /><br /><br />

          <label for="mon">Количество мониторов:</label><br />
          <input id="mon" type="text" size="3" [(ngModel)]="newWorkplace.mon" name="mon" required /><br /><br />

          <button type="submit" class="submit-button">Сохранить</button>
          <button class="close" (click)="closeAddWorkplaceForm()">Закрыть</button>
        </form>
      </div>
    </div>

    <div *ngIf="isAddMeetingRoomFormOpen" class="modal">
      <div class="modal-content">
        <h2>Добавить переговорную</h2>
        <form (ngSubmit)="saveMeetingRoom()">
          <label for="name">Название/№:</label><br />
          <input id="name" type="text" [(ngModel)]="newMeetingRoom.name" name="name" required /><br /><br />

          <label for="x">Координата X:</label>
          <input id="x" type="text" size="3" [(ngModel)]="newMeetingRoom.x" name="x" required /><br /><br />
          <label for="y">Координата Y:</label>
          <input id="y" type="text" size="3" [(ngModel)]="newMeetingRoom.y" name="y" required /><br /><br />

          <label for="height">Длина:</label><br />
          <input id="height" type="text" size="3" [(ngModel)]="newMeetingRoom.height" name="height"
            required /><br /><br />

          <label for="width">Ширина:</label><br />
          <input id="width" type="text" size="3" [(ngModel)]="newMeetingRoom.width" name="width" required /><br /><br />

          <button type="submit" class="submit-button">Сохранить</button>
          <button class="close" (click)="closeAddMeetingRoomForm()">Закрыть</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="isMyBookingsFormOpen" class="modal">
    <div class="modal-content">
      <h2>Мои бронирования</h2>
      <table *ngIf="myBookings.length > 0">
        <thead>
          <tr>
            <th>Офис</th>
            <th>Помещение</th>
            <th>Название рабочего места</th>
            <th>Дата</th>
            <th>Время</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of myBookings">
            <td>{{ booking.office }}</td>
            <td>{{ booking.room }}</td>
            <td>{{ booking.tableName }}</td>
            <td>{{ booking.date | date: 'yyyy-MM-dd' }}</td>
            <td>{{ booking.time }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="myBookings.length === 0">
        <p>Нет бронирований</p>
      </div>
      <button class="close" (click)="closeMyBookingsForm()">Закрыть</button>
    </div>
  </div>

  <br />

  <div *ngFor="let workplace of workplaces" class="workplace"
    [ngStyle]="{'left.px': workplace.x, 'top.px': workplace.y}" (click)="openWorkplaceBookingModal(workplace)">
  </div>

  <div *ngFor="let meetingRoom of meetingRooms" class="meeting-room"
    [ngStyle]="{'left.px': meetingRoom.x, 'top.px': meetingRoom.y}" (click)="openMeetingRoomBookingModal(meetingRoom)">
    {{ meetingRoom.name }}
  </div>

  <div *ngIf="isWorkplaceBookingModalOpen" class="modal">
    <div class="modal-content">
      <h2>Бронирование рабочего места</h2>
      <p>Вы бронируете: {{ selectedWorkplace?.name || 'Рабочее место' }}</p>

      <label for="workplaceDate">Выберите дату:</label>
      <input type="date" id="workplaceDate" [(ngModel)]="workplaceBookingForm.date" required /><br /><br />

      <button class="submit-button" (click)="doWorkplaceBooking()">Забронировать</button>
      <button class="close" (click)="closeWorkplaceBookingModal()">Закрыть</button>
    </div>
  </div>

  <div *ngIf="isMeetingRoomBookingModalOpen" class="modal">
    <div class="modal-content">
      <h2>Бронирование переговорной</h2>
      <p>Вы бронируете: <strong>{{ selectedMeetingRoom?.name || 'Переговорную' }}</strong></p>

      <label for="meetingRoomDescription">Введите описание:</label>
      <input type="text" id="meetingRoomDescription" [(ngModel)]="meetingRoomBookingForm.description"
        required /><br /><br />

      <label for="meetingRoomDate">Выберите дату:</label>
      <input type="date" id="meetingRoomDate" [(ngModel)]="meetingRoomBookingForm.date" required /><br /><br />

      <label for="meetingRoomStartTime">Выберите время начала:</label>
      <input type="time" id="meetingRoomStartTime" [(ngModel)]="meetingRoomBookingForm.startTime"
        required /><br /><br />

      <label for="meetingRoomEndTime">Выберите время окончания:</label>
      <input type="time" id="meetingRoomEndTime" [(ngModel)]="meetingRoomBookingForm.endTime" required /><br /><br />

      <label for="meetingRoomParticipants">Выберите участников:</label>
      <div class="participant-list">
        <div *ngFor="let user of paginatedUsers" class="participant-item">
          {{user.id}}
          <input type="checkbox" id="user-{{ user.id }}"
                 [value]="user.id"
                 [checked]="meetingRoomBookingForm.participants.includes(user.id)" 
                 (change)="toggleParticipant(user.id)" />
          <label for="user-{{ user.id }}">{{ user.username }}</label>
        </div>        
      </div>
      
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Предыдущая</button>
        <span>Страница {{ currentPage }} из {{ totalPages() }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Следующая</button>
      </div>
      <br /><br />
      <button class="submit-button" (click)="checkAndBookMeetingRoom()">Забронировать</button>
      <button class="close" (click)="closeMeetingRoomBookingModal()">Закрыть</button>
    </div>
  </div>

  <div *ngIf="this.authService.data.user.role === 'ADMIN'">
    <div *ngFor="let workplace of workplaces; let i = index" class="workspace" cdkDrag
      [ngStyle]="{'left.px': workplace.x, 'top.px': workplace.y}"
      (cdkDragEnded)="dragEndedNewWorkplace($event, i, selectedRoom)">
      {{ workplace.id }}
    </div>

    <div *ngFor="let meetingRoom of meetingRooms; let i = index" class="meeting-room" cdkDrag
      [ngStyle]="{'left.px': meetingRoom.x, 'top.px': meetingRoom.y}"
      (cdkDragEnded)="dragEndedNewMeetingRoom($event, i, selectedRoom)">
      {{ meetingRoom.name }}
    </div>
  </div>
  <div [class.hide]="isreg==1">
    <p>Для просмотра данного раздела необходимо <a href="/">авторизоваться</a></p>
  </div>
</div>