# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.env
.venv/
.vscode/
