<h4>Список групп</h4>
<table class="styled-table">
  <thead>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Офис</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.id }}</td>
      <td>{{ group.name }}</td>
      <td>{{ group.office }}</td>
      <td>
        <button (click)="this.selectedGroup = group.id">Прикрепить к офису</button><br /><br />
        <button (click)="openEditGroupForm(group)">Редактировать</button>
        <button (click)="delGroup(group.id)">Удалить</button>
      </td>
  </tbody>
  <button (click)="openGroupForm()">Создать</button>
</table>

<div *ngIf="this.authService.data.user.role === 'ADMIN' && showGroupForm && !selectedGroup" class="group-form">
  <h4>Создать группу</h4>
  Название:&nbsp;
  <input id="name" type="text" [(ngModel)]="groupForm.name" placeholder="Введите название группы" /> <br/><br/>
  <input type="button" value="Создать группу" (click)="addGroup()"><br/><br/>
  <button type="button" (click)="closeGroupForm()">Отменить</button>
</div>

<div *ngIf="this.authService.data.user.role === 'ADMIN' && showGroupForm && selectedGroup" class="group-form">
  <h4>Редактировать группу</h4>
  Название:&nbsp;
  <input id="name" type="text" [(ngModel)]="groupForm.name" placeholder="Введите название группы" /> <br/><br/>
  <input type="button" value="Редактировать группу" (click)="addGroup()"><br/><br/>
  <button type="button" (click)="closeGroupForm()">Отменить</button>
</div>

<h4>Список пользователей</h4>
<table class="styled-table">
  <thead>
    <tr>
      <th>№</th>
      <th>Пользователи</th>
      <th>Группы</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.fullname }}</td>
      <td>{{ user.group }}</td>
      <td>
        <button (click)="this.selectedUser = user.id">Прикрепить к группе</button>
      </td>
    </tr>
  </tbody>
</table>

<div [ngClass]="selectedUser == 0 ? 'wind2' : 'wind2_vis'" id="wind2">
  № Пользователя: <b>{{ this.selectedUser }}</b><br/><br/>
  <label for="start">Группа:</label>&nbsp;
  <select [(ngModel)]="addUserForm.grname">
    <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
  </select>
  <br/><br/>
  <button type="button" (click)="addUserToOffice()">Прикрепить к группе</button>&nbsp;&nbsp;
  <button type="button" (click)="selectedUser=0">Закрыть</button>
</div>

<div [ngClass]="selectedGroup == 0 ? 'wind2' : 'wind2_vis'" id="wind2">
  № группы: <b>{{ this.selectedGroup }}</b><br/><br/>
  <label for="start">Офис:</label>&nbsp;
  <select [(ngModel)]="addGroupForm.ofid">
    <option *ngFor="let office of (role === 'ADMIN' ? offices : filteredOffices)" [value]="office.id">{{ office.name }}</option>
  </select>
  <br/><br/>
  <button type="button" (click)="addGroupToOffice()">Прикрепить к офису</button>&nbsp;&nbsp;
  <button type="button" (click)="selectedGroup=0">Закрыть</button>
</div>

<div [class.hide]="isreg==1">
  <p>Для просмотра данного раздела необходимо <a href="/">авторизоваться</a></p>
</div>
<div [class.hide]="role=='ADMIN' || role==''">
  <p>Данная страница доступна только для админов</p>
</div>
