<div [class.hide]="isreg == 0"><br><br>
  <div class='admin-panel' [class.vis]="role == 'ADMIN'">
    <div *ngIf="role === 'ADMIN'" class="button-group">
      <button class="primary-button" (click)="openAddWorkplaceForm()">Добавить рабочее место</button>
      <button class="primary-button" (click)="openAddMeetingRoomForm()">Добавить переговорную</button>
    </div>

    <div *ngIf="isAddWorkplaceFormOpen" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeAddWorkplaceForm()">&times;</span>
        <h2>Добавить рабочее место</h2>
        <form (ngSubmit)="saveWorkplace()">
          <label for="name">Название/№:</label><br/>
          <input id="name" type="text" [(ngModel)]="newWorkplace.name" name="name" required /><br/><br/>

          <label for="x">Координаты X:</label><br/>
          <input id="x" type="text" size="3" [(ngModel)]="newWorkplace.x" name="x" required /> :x &nbsp;&nbsp;
          <label for="y">Координаты Y:</label>
          <input id="y" type="text" size="3" [(ngModel)]="newWorkplace.y" name="y" required /><br/><br/>

          <label for="length">Длина:</label><br/>
          <input id="length" type="text" size="3" [(ngModel)]="newWorkplace.length" name="length" required /><br/><br/>

          <label for="width">Ширина:</label><br/>
          <input id="width" type="text" size="3" [(ngModel)]="newWorkplace.width" name="width" required /><br/><br/>

          <label for="mon">Количество мониторов:</label><br/>
          <input id="mon" type="text" size="3" [(ngModel)]="newWorkplace.mon" name="mon" required /><br/><br/>

          <button type="submit" class="submit-button">Сохранить</button>
        </form>
      </div>
    </div>

    <div *ngIf="isAddMeetingRoomFormOpen" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeAddMeetingRoomForm()">&times;</span>
        <h2>Добавить переговорную</h2>
        <form (ngSubmit)="saveMeetingRoom()">
          <label for="name">Название/№:</label><br/>
          <input id="name" type="text" [(ngModel)]="newMeetingRoom.name" name="name" required /><br/><br/>

          <label for="x">Координаты X:</label><br/>
          <input id="x" type="text" size="3" [(ngModel)]="newMeetingRoom.x" name="x" required /> :x &nbsp;&nbsp;
          <label for="y">Координаты Y:</label>
          <input id="y" type="text" size="3" [(ngModel)]="newMeetingRoom.y" name="y" required /><br/><br/>

          <label for="length">Длина:</label><br/>
          <input id="length" type="text" size="3" [(ngModel)]="newMeetingRoom.length" name="length" required /><br/><br/>

          <label for="width">Ширина:</label><br/>
          <input id="width" type="text" size="3" [(ngModel)]="newMeetingRoom.width" name="width" required /><br/><br/>

          <label for="mon">Количество мониторов:</label><br/>
          <input id="mon" type="text" size="3" [(ngModel)]="newMeetingRoom.mon" name="mon" required /><br/><br/>

          <button type="submit" class="submit-button">Сохранить</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="isMyBookingsFormOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeMyBookingsForm()">&times;</span>
      <h2>Мои бронирования</h2>
      <table *ngIf="myBookings.length > 0">
        <thead>
          <tr>
            <th>Офис</th>
            <th>Помещение</th>
            <th>Название рабочего места</th>
            <th>Дата</th>
            <th>Время</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of myBookings">
            <td>{{ booking.office }}</td>
            <td>{{ booking.room }}</td>
            <td>{{ booking.tableName }}</td>
            <td>{{ booking.date | date: 'yyyy-MM-dd' }}</td>
            <td>{{ booking.time }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="myBookings.length === 0">
        <p>Нет бронирований</p>
      </div>
    </div>
  </div>

  <div [class.hide]="isreg == 0">
    <div class="filter-section">
      <label>Введите название офиса:</label>&nbsp;
      <input type="text" [(ngModel)]="officeSearch" (input)="filterOffices()" placeholder="Введите название офиса" />
      <ul *ngIf="filteredOffices.length > 0" class="dropdown">
        <li *ngFor="let office of filteredOffices" (click)="selectOffice(office)" class="dropdown-item" tabindex="0" (keydown.enter)="selectOffice(office)">{{ office.name }}</li>
      </ul>
    </div>

    <br />

    <div *ngIf="officeForm.office">
      <label>Выберите помещение:</label>&nbsp;
      <select [(ngModel)]="workplaceForm.room" (change)="onRoomChange()">
        <option *ngFor="let room of officeForm.office.rooms" [value]="room.name">{{ room.name }}</option>
      </select>
      <br /><br />
    </div>

    <div *ngIf="roomForm.room">
      <label for="start">Выберите дату:</label>
      <select id="start" name="trip-start" [(ngModel)]="workplaceBookingForm.date" (change)="checkDate(workplaceBookingForm.date)">
        <option *ngFor="let date of availableDates" [value]="date">{{ date | date: 'yyyy-MM-dd' }}</option>
      </select>
    </div>

    <br />

    <div class='workspace-section'>
      <div cdkDrag *ngFor="let c of workplaces; index as i" [cdkDragFreeDragPosition]="c.position" (cdkDragEnded)="dragEndedNewWorkplace($event, i)" (click)="openWorkplaceBookingModal(c)" [cdkDragDisabled]="role !== 'ADMIN'" [ngClass]="{'example-box-booked': c.book === '1', 'example-box': c.book !== '1'}">
        {{ c.name }}<br />
        <b>(Помещение: {{ c.room }})</b>
        <div *ngIf="role === 'ADMIN'">
          <a href="#" (click)="$event.preventDefault(); delWorkplace(i)" style="text-decoration: none; color: red;">x</a>
        </div>
      </div>

      <div cdkDrag *ngFor="let c of meetingRooms; index as i" [cdkDragFreeDragPosition]="c.position" (cdkDragEnded)="dragEndedNewMeetingRoom($event, i)" (click)="openMeetingRoomBookingModal(c)" [cdkDragDisabled]="role !== 'ADMIN'" [ngClass]="{'example-box-booked': c.book === '1', 'example-box': c.book !== '1'}">
        {{ c.name }}<br />
        <b>(Помещение: {{ c.room }})</b>
        <div *ngIf="role === 'ADMIN'">
          <a href="#" (click)="$event.preventDefault(); delMeetingRoom(i)" style="text-decoration: none; color: red;">x</a>
        </div>
      </div>
    </div>
  </div>

  <div [class.hide]="isreg == 1">
    <p>Для просмотра данного раздела необходимо <a href="/">авторизоваться</a></p>
  </div>
</div>
