<h1>Загруженность офиса</h1>

<div [class.hide]="isreg == 0">
  <div>
    <label>Введите название офиса:</label>&nbsp;
    <input 
      type="text" 
      [(ngModel)]="officeSearch" 
      (input)="filterOffices()" 
      placeholder="Введите название офиса"
    />
    <ul *ngIf="filteredOffices.length > 0" class="dropdown">
      <li 
        *ngFor="let office of filteredOffices"
        (click)="selectOffice(office)"
        class="dropdown-item"
        tabindex="0"
        (keydown.enter)="selectOffice(office)"
      >
        {{ office.name }}
      </li>
    </ul>
  </div>
  <br />

  <div *ngIf="officeForm.office">
    <label for="start">Выберите дату:</label>
    <input 
      type="date" 
      id="start" 
      name="trip-start" 
      (change)="checkDate(bookingForm.date)" 
      [(ngModel)]="bookingForm.date" 
    />
  </div>
  <br />

  <div *ngIf="officeForm.office && bookingForm.date">
    <h3>Загруженность офиса: {{ officeSearch }}</h3>
    <p>{{ officeLoad }}%</p>
  </div>
  <br />

  <h2>Загруженность доступных мне помещений на {{ bookingForm.date }}</h2>
  <table>
    <thead>
      <tr>
        <th>Офис</th>
        <th>Помещение</th>
        <th>Загруженность</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let roomData of roomLoadPercentages">
        <td>{{ roomData.office }}</td>
        <td>{{ roomData.room }}</td>
        <td>{{ roomData.load }}%</td>
      </tr>
    </tbody>
  </table>
  

<div [class.hide]="isreg == 1">
  <p>Для просмотра данного раздела необходимо <a href="/">авторизоваться</a></p>
</div>
